.ql-container { width: 1200px; margin: 0 auto;  }
.bg-yellow { background-color: #ffd633; }
.bg-blue { background-color: #00cc99; }
.bg-green { background-color: #6495ED; }
.bg-red { background-color: #ff6666; }
.bg-purple { background-color: #a06fcb; }
.bg-navy  { background-color: #003399; }

/*登陆信息栏*/
.herader-top { height: 30px; line-height: 30px;  background-color: #ddd; }
.index-top-nav li { float: left; text-align: center; }
.user-login-info span { color: #f60;  }
.user-login-info li a { padding: 0 6px; }
.user-login-info li:first-child a img { margin-right: 6px; }

.index-top-nav .nav-item { padding-left: 6px; }
.index-top-nav .nav-item a{ padding-right: 6px; }
.index-top-nav .nav-item a:hover { color: #f60; }
.nav-right { float: right; }
.nav-item a img { margin: 4px 4px 0 0;}

/*搜索栏*/
.herader-search { height: 98px; }
.herader-search .logo { float: left; width: 300px; height: 55px; margin-top: 21px; cursor: pointer; }
.search-box { float: left; width: 420px; height: 40px; margin-left: 120px; margin-top: 21px; }
.search-box .input-group { border: 2px solid #f60; }
.search-box input { width: 280px; height: 40px; border: none; }
.search-box input:focus { border: none; }
.search-box span { color: #fff; }
.search-box .input-group-addon { width: 70px; border: none; }
.search-box .search-button { background-color: #f60; width: 70px; height: 40px; border: 2px solid #f60; border-radius: 0; cursor: pointer; }
.search-box .search-choice { width: 70px; height: 40px; padding: 0; border-left: 1px solid #f60; background-color: #fff; cursor: pointer;}
.search-box .search-choice .form-control { height: 40px; border: none; appearance:none; -moz-appearance:none; -webkit-appearance:none; background: url("http://ourjs.github.io/static/2015/arrow.png") no-repeat scroll right center transparent;}
.site-contact { float: right; }
.site-contact img{ margin-top: 20px; }

/*导航栏*/
.herader-nav { min-width: 1200px; background-color: #003399; color: #fff; }
.menu-panel { height: 40px; line-height: 40px; }
.menu-list li{ float: left; width: 96px; height: 40px; text-align: center; }
.menu-list li a { display: inline-block; width: 96px; height: 40px; color: #fff; }
.menu-list li a:hover{ background-color: #fff; color: #003399; border-top: 2px solid #f60; }
.breadcrumb { margin-bottom: 0; height: 40px; color: #999; border-bottom: 1px solid #ddd; }

/*滚动图*/
.main-top { background-color: #3266cc; min-width: 1200px; height: 1190px;  }
.main-top-carousel { position: relative; min-width: 1200px; height: 560px; }
.main-top-carousel .carousel-indicators { left: 28%; }
.main-top-carousel .carousel-indicators li { width: 60px; height: 10px; border-radius: 0; margin: 0; }
.main-top-carousel .carousel-indicators .active { background-color: #f60; }
.main-top-carousel .carousel-inner img { height: 560px; }

/*热点栏*/
.main-top-subject { background-color: #ffcc33; height: 140px; margin-top: 10px; }
.main-top-subject .subject-hot li { float: left; width: 393px; height: 140px; margin-right: 10px; cursor: pointer; overflow: hidden; }
.main-top-subject .subject-hot li:last-child { margin-right: 0; }
.main-top-subject .item-route { background-color: #cc3467; }
.main-top-subject .item-hotel { background-color: #669934; }
.main-top-subject .item-customization { background-color: #996533; }
.subject-item .subject-item-left { position: relative; float: left; width: 258px; height: 140px; padding-top: 44px; padding-left: 30px; }
.subject-item .subject-item-title { position: absolute; bottom: 66px; }
.subject-item .subject-item-title label { font-size: 30px; color: #ff0; }
.subject-item .subject-item-title span { font-size: 24px; color: #fff; }
.subject-item .subject-item-text { position: absolute; bottom: 30px; font-size: 18px; color: #ff0; }
.subject-item .subject-item-right { position: relative; }
.subject-item .subject-item-rush { position: absolute; top: 30px; right: 10px; float: right; background: url(../image/dialog.png) no-repeat scroll center center; width: 70px; height: 70px; font-size: 42px; color: #cc3366; text-align: center; padding-top: 6px; }

/*热点推荐*/
.main-top-hot { margin-top: 15px; }
.body-left { float: left; width: 200px; }
.body-left-img { width: 200px; height: 340px; }
.body-left-img img { width: 200px; height: 340px; }
.body-left-recommend-img { width: 200px; height:380px; }
.body-left-recommend-img img { width: 200px; height: 380px; }
.body-left-text { position: relative; width: 200px; height: 80px; padding-left: 18px; color: #fff; }
.body-left-text h3 { padding-top: 13px; font-size: 16px; }
.body-left-text p {	font-size: 12px; }
.body-left-text .body-more { position: absolute; right: 20px; bottom: 10px;  float: right; }
.body-right { float: left; width: 980px; margin: 0 0 0 20px; }
.body-right .product-item .product-title { border: 1px solid #ddd; }
.body-right li:last-child { margin-right: 0; }
.body-right li p { margin-top: 0px; }

.hot-center { float: left; width: 730px; height: 420px; margin: 0 20px; }
.recommend-car-left { float: left; width: 720px; height: 420px; }
.product .product-item { float: left; height: 200px; background-color: #fff; margin-right: 10px; margin-bottom: 20px; overflow: hidden;}
/*.hot-center li:nth-child(2) { margin-right: 0; }*/
.hot-center li:last-child { margin-right: 0; }
.recommend-car-left li:nth-child(3) { margin-right: 20px; }
.recommend-car-left li:last-child { margin-right: 0; }
.recommend-car-right { float: right; width: 230px; height: 420px; background-color: #ddd; overflow: hidden; margin-right:30px; margin-bottom: 20px; }
.recommend-car-right img { width: 100%; height: 100%; border: 2px solid #b5b4b4}
.product .product-item-480 { width: 470px; }
.product .product-item-400-height {width: 230px; height: 420px;}
.product .product-item-480 img { width: 470px; height: 145px; }
.product .product-item-400-height img {width: 230px; height: 365px}
.product .product-item-180 { width: 180px; }
.product .product-item-180 img { width: 180px; height: 145px; }
.product .product-item-sm { width: 170px; }
.product .product-item-230 { width: 230px; border: 1px solid #ddd; overflow: hidden;}
.product .product-item-230 img { width: 230px; height: 145px; }
.product-item .product-title { height: 54px; }
.product-item .product-title h3 { font-size: 14px; line-height: 26px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.product-item .product-title h3 i { font-style: normal; color: #f60; }
.product-item .product-title span { font-size: 16px;  color: #f60; }
.product-item .product-title .theme-span { margin-left:15px; font-size: 22px; color: #333; }
.product-more { color: #f60; border: 1px solid #f60; margin-right: 5px; padding: 1px 1px 1px 1px;}
.product-more-no-border { color: #f60; margin-right: 5px; padding: 1px 1px 1px 1px;}
.product-more:hover { background-color: #f60; color: #fff; }
.product-more-no-border:hover { background-color: #f60; color: #fff; }

.hot-about { position: relative; float: right; width: 230px; height: 420px; background-color: #fce706; }
.box-border { width: 146px; height: 80px; border: 2px solid #fff; }
.box-border .box-text { height: 72px; background-color: #fff; margin: 2px; padding: 13px 16px; text-align: center; }
.box-border .box-text b { font-size: 24px; }
.hot-about .hot-box { position: absolute; margin-left: 12px; margin-top: 12px; z-index: 99;}
.hot-about-mobile { position: absolute; top: 50px; left: 18px; width: 212px; height: 370px; background-color: #ffcc33; padding-top: 50px; z-index: 1; }
.hot-about-mobile .about-mobile-global { margin-left: 10px; margin-bottom: 10px; }
.hot-about .about-mobile-local li{ line-height: 22px; }
.hot-about .about-mobile-local label { font-weight: normal; padding-left: 10px; }
.hot-about .about-mobile-local span { display: inline-block; width: 162px; text-align: right; padding-right: 14px; }
.hot-about .about-mobile-local img { cursor: pointer; }
.main-top-hot .about-mobile-local span { display: inline-block; width: 192px; text-align: right; padding-right: 14px; }
.main-top-hot .about-mobile-local label { font-weight: normal; padding-left: 40px; }

/*介绍*/
.main-layer { margin-top: 42px; }
.main-layer .body-left-img { height: 230px; }
.main-layer .body-left-img img { width: 200px; height: 230px; }
.main-layer .body-left-text { height: 90px; }


/*.body-right .tabs { height: 30px; line-height: 30px; margin: 10px 0; font-size: 16px; }
.body-right .tabs li { float: left; width: 86px; height: 30px; color: #666666; text-align: center; cursor: pointer; }
.body-right .tabs-recommend li:hover { background-color: #33cccc; color: #fff; }
*/
.nav-tabs { height: 30px; margin: 10px 0; border: none; }
.nav-tabs li { width: 84px; height: 30px;text-align: center; border: none; }
.nav-tabs li a { width: 84px; height: 30px; background-color: transparent; padding: 0; line-height: 30px; }
.nav-tabs > li > a { border: none; border: none; }
.nav-tabs li a:hover { color: #fff; border: none; background-color: #33cccc; border-radius: 0;}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover { border: none; background-color: transparent; color: #fff; }
.nav-tabs .active { background-color: #33cccc; color: #fff; }
.tabs-recommend li a:hover { background-color: #00cc99}
.tabs-recommend .active { background-color: #00cc99; }
.tabs-tourist li a:hover { background-color: #6495ED;}
.tabs-tourist .active { background-color: #6495ED; }
.tabs-strategy li a:hover { background-color: #ff6666}
.tabs-strategy .active { background-color: #ff6666; }

.body-right .tabs-tourist li:hover { background-color: #33cc66; color: #fff; }
.body-right .tabs-strategy li:hover { background-color: #ff6666; color: #fff; }
.body-right .scenic .scenic-item { position: relative; float: left; height: 200px; margin-bottom: 20px; }
.body-right .scenic .scenic-item span { position: absolute; left: 0; bottom: 0; padding-bottom: 4px; width: 100%; color: #fff; font-size: 16px; text-align: center; background-color: rgba(0, 0, 0, .5); }
.body-right .scenic .scenic-item:nth-child(3) { margin-right: 0; }
.body-right .scenic .scenic-item:last-child { margin-right: 0; }
.body-right .scenic .scenic-item-big img { width: 360px; height: 200px; }
.body-right .scenic .scenic-item-small img { width: 180px; height: 200px; }

/*桂林攻略*/
.strategy-content { width: 980px; height: 260px; }
.strategy-content-left-img { float: left; width: 550px; overflow: hidden; }
.strategy-content-left-img img{ width: 100%; height: 260px; }
.strategy-content-help { float: left; width: 180px; height: 100%; padding-left: 18px; border-top: 1px solid #ddd; border-right: 1px solid #ddd; border-bottom: 1px solid #ddd; }
.strategy-content-help .help-strategy { width: 100%; height: 130px; }
.strategy-content-help .help-strategy h3 { font-size: 20px; }
.strategy-content-help .help-strategy ul { padding-left: 20px; padding-top: 10px; list-style: disc; }
.strategy-content-help .help-strategy li { width: 150px; font-size: 14px; line-height: 24px; list-style-position: inside; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.strategy-content-right { float: right; width: 230px;  }
.strategy-content-right .scenic .scenic-item-small img { width: 100%; height: 120px; }
.strategy-content-right .scenic .scenic-item { position: relative; float: left; height: 120px; margin-bottom: 20px; }
.strategy-help { border: 1px solid #ddd; margin-top: 20px; }
.strategy-help-title { float: left; width: 150px; height: 140px; }
.strategy-help-title-header { height: 40px; text-align: center; background-color: #ff6666; color: #fff; }
.strategy-help-title-header h3 { line-height: 40px; }
.strategy-help-title-text { height: 100px; background-color: #e5e5e5; color: #ff6666; font-size: 20px; }
.strategy-help-title-text p { text-align: center; padding-top: 24px; }
.strategy-help-tool { float: left; width: 1000px; height: 140px; }
.strategy-help-tool li { float: left; width: 200px;  }
.strategy-help-tool li img {margin: 0 auto; display: block; }
.strategy-help-tool li span { display: block; padding-top: 12px; font-size: 16px; text-align: center;  }
.strategy-help-tool-item { position: relative; }
.strategy-help-tool-item img { margin: 0 35px; padding-top: 11px; }

/*桂林酒店*/
.main-layer .hotel-left-img { height: 270px; overflow: hidden; }
.main-layer .hotel-left-img img { height: 270px; }
.main-layer .hotel-left-text { height: 90px; }
.hotel-item li { float: left; width: 228px; height: 310px; margin-left: 22px; border: 1px solid #ddd; overflow: hidden; }
.hotel-item li:first-child { margin-left: 0; }
.hotel-item li img { width: 228px; height: 248px; }
.hotel-item li p { margin-top: 10px; }
.hotel-item li p:last-child { margin-top: 0; }
.hotel-item li:last-child a { margin-top: 100px; margin-left: 40px;}
.hotel-item li:last-child p { padding-left: 10px; }
.level-five { background: url(../image/level_five.png) no-repeat scroll right;text-align: left; width: 228px; height:15px; font-size: 16px; padding-left: 10px; }
.level-four { background: url(../image/level_four.png) no-repeat scroll right; width: 228px; font-size: 16px; padding-left: 10px; }
.level-three { background: url(../image/level_three.png) no-repeat scroll right; width: 228px; font-size: 16px; padding-left: 10px; }
.level-two { background: url(../image/level_two.png) no-repeat scroll right; width: 228px; font-size: 16px; padding-left: 10px; }

/*页脚*/ßß
.footer .footer-top { margin-top: 50px; margin-bottom: 30px; width: 1198px; height: 90px; border: 1px solid #ddd;  }
.footer .footer-top img { display: block; margin-left: auto; margin-right: auto; margin-top: 20px; padding: 0; width: 698px; height: 54px; }
.footer .fonter-link { height: 35px;  background-color: #eee; min-width: 1200px; }
.footer .fonter-link-list { height: 100%; margin: 0 auto; }
.footer .fonter-link-list ul { width: 666px; height: 35px; margin: 0 auto; }
.footer .fonter-link-list li { float: left; height: 35px; line-height: 35px; padding: 0 6px; }
.footer .footer-about { height: 110px; min-width: 1200px; background-color: #003366;  color: #cccccc; }
.footer-about-info p { text-align: center; line-height: 30px; }
.footer-about-info p:first-child { padding-top: 10px; }
.footer-about-info p span { padding: 0 6px; }


/*桂林酒店样式*/
.main-body-left { float: left; width: 200px; }
.main-body-left .hot-about { float: left; width: 200px; }
.main-body-left .hot-about-mobile { width: 182px; }
.main-body-right { float: right; width: 980px; }
.mod-border { border: 1px solid #ddd; }
.mod-list { width: 100%; }
.mod-list-header { margin-bottom: 20px; width: 100%; height: 40px; background-color: #f60; }
.mod-list-title { float: left; height: 40px; padding-left: 26px; font-size: 26px; line-height: 40px; color: #fff; }
.mod-list-header-item { float: right; margin-top: 5px; margin-right: 20px; width: 400px; font-size: 14px; }
.mod-list-header-item li { float: left; width: 100px; height: 30px; line-height: 30px; text-align: center; cursor: pointer; }
.mod-list-header-item li:hover { background-color: #fff; color: #f60; }
.mod-list-header-item .active { background-color: #fff; color: #f60; }

/*酒店介绍*/
.mod-list-body { width: 980px; }
.mod-list-text { padding-left: 20px; padding-right: 20px; font-size: 14px; line-height: 2em; }
.pagination li a { cursor: pointer;}
.pagination li a:hover { background-color: #f60; color: #fff; }

.mod-list-item { margin-bottom: 20px; width: 100%; height: 180px; border: 1px solid #ddd; }
.mod-list-item .media { margin: 15px 20px; }
.mod-list-item .media-object { width: 200px; height: 150px; overflow: hidden; }
.mod-list-item .media-body p { height: 26px; line-height: 26px; }
.mod-list-item .media-body .level{ display: inline-block; margin-bottom: -4px;  height: 16px;  }
.mod-list-item .media-body .level-five { width: 83px; }
.mod-list-item .media-body .level-four { width: 66px; }
.mod-list-item .media-body .level-three { width: 49px; }
.price { color: #f60; font-size: 14px; }
.media-body p { width: 730px; }
.media-body .media-heading { font-size: 20px; font-weight: bold; }
.aside-box { float: left; margin-top: 20px; width: 200px; overflow: hidden; }
.aside-box-top { margin-top: 0; margin-bottom: 20px; }
.aside-box-header { width: 200px; height: 40px; }
.aside-box-header h3 { float: left; padding-left: 20px; font-size: 26px; font-weight: bold; line-height: 40px; color: #fff; }
.aside-box-header a { float: right; margin-top: 16px; margin-right: 20px;  }
.aside-box-header a:hover { color: #fff; }
.aside-box-strategy { padding-top: 20px; padding-left: 20px; height: 220px; background: url(../image/bg-strategy.png);}
.aside-box-strategy li { float: left; margin-right: 15px; margin-bottom: 20px; width: 75px; height: 30px; line-height: 30px; text-align: center; background-color: #fff; border: 1px solid #ddd; border-radius: 30px; cursor: pointer;}
.aside-box-strategy li:hover { background-color: #ff6666; color: #fff; }
.aside-box-tourist { margin: 20px 15px 15px 10px;  }
.aside-box-border { border: 1px solid #ddd; }
.aside-box-tourist li { margin-bottom: 10px; }
.aside-box-tourist li:last-child { margin-bottom: 0;}
.aside-tourist-item { width: 170px; /*height: 100px;*/ overflow: hidden; cursor: pointer; }
.aside-tourist-item img { width: 100%; height: 80px; border: 1px solid #ddd; }
.aside-tourist-item p { height: 20px; line-height: 20px; color: #333; text-align: center; }
.aside-box-line { margin: 20px 15px; }
.aside-box-line li { height: 30px; line-height: 30px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.aside-box-message { margin: 20px 15px; }
.aside-box-message li { margin-bottom: 10px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.aside-box-message li a { width: 165px; }
.aside-box-about { padding-top: 20px; padding-bottom: 20px; height: 360px; background-color: #e5e5e5; }
.aside-box-about li { margin-left: 20px; padding-left: 20px; height: 40px; line-height: 40px; font-size: 16px; cursor: pointer; }
.aside-box-about li:hover { background-color: #f60; color: #fff; }
.aside-box-about .active { background-color: #f60; color: #fff; }
.aside-box-about .active:after { border: 10px solid #000; border-left-color: #f00; width: 0; height: 0; }

/*散客拼团*/
.mod-hot-left .hot-about { float: left; width: 200px; height: 450px; background-color: #003399; }
.mod-hot-left .hot-about-mobile { width: 182px; height: 400px; }
.mod-hot-right { float: right; width: 1000px; height: 350px; }
.mod-hot-right .carousel-indicators li { width: 60px; height: 10px; border-radius: 0; margin: 0; }
.mod-hot-right .carousel-indicators .active { background-color: #f60; }
.mod-hot-right .carousel-inner img { height: 350px; }
.mod-hot-right-guide { width: 1000px; height: 100px; }
.mod-hot-right-guide .mod-guide { float: left; width: 250px; height: 100%; }
.mod-guide { color: #fff; cursor: pointer;}
.mod-guide h3 { padding-top: 18px; padding-left: 18px; font-size: 22px; }
.mod-guide p { padding-top: 6px; padding-left: 18px; font-size: 14px; }
.mod-guide-car { background: url(../image/diy_car.png) scroll no-repeat center center; background-color: #ff6666; }
.mod-guide-ship { background: url(../image/diy_ship.png) scroll no-repeat center center; background-size: 250px 100px; background-color: #3366cc; }
.mod-guide-scenic { background: url(../image/diy_scenic.png) scroll no-repeat center center; background-size: 250px 100px; background-color: #a06fcb; }
.mod-guide-ql { background: url(../image/diy_ql.png) scroll no-repeat center center; background-color: #33cc66; }

.mod-hit { margin-bottom: 20px;}
.mod-hit-left { float: left; margin-top: 20px; padding: 5px; width: 200px; height: 250px; border: 10px solid #33cc66; }
.mod-hit-img { padding-top: 70px; padding-left: 20px; width: 170px; height: 220px; background: url(../image/1.jpg) scroll no-repeat center center; text-align: center; }
.mod-hit-text { padding-top: 20px;  width: 130px; height: 80px; background-color: rgba(255,255,255,.7);}
.mod-hit-text h3 { font-size: 18px; font-weight: bold; }
.mod-hit-text p { font-size: 14px; }
.mod-hit-right { float: left; margin-top: 20px; margin-left: 20px; height: 250px; }
.mod-hit-box { position: relative; float: left; height: 210px; color: #fff; }
.mod-hit-box p { position: absolute; bottom: 0; width: 100%; height: 30px; background-color: rgba(0,0,0,.2); font-size: 14px; text-align: center; line-height: 30px; }
.mod-hit-box-sm { width: 200px; }
.mod-hit-box-sm img { width: 200px; height: 100%; overflow: hidden; }
.mod-hit-box-big { width: 380px; }
.mod-hit-box-big img { width: 380px; height: 100%; overflow: hidden; }
.mod-hit-box-list { float: left; margin-left: 10px; margin-right: 10px; width: 380px; height: 210px; }
.mod-hit-box-list li { position: relative; float: left; margin-right: 10px; margin-bottom: 10px; width: 185px; }
.mod-hit-box-list li:nth-child(2) { margin-right: 0;}
.mod-hit-box-list li:last-child { margin-right: 0;}
.mod-hit-box-list li img { width: 185px; height: 100px; }
.mod-hit-bottom { margin-top: 10px; font-size: 16px; }
.nav-scenic li { float: left; margin-right: 5px; padding-left: 6px; padding-right: 6px; height: 30px; line-height: 30px; background-color: #e5e5e5; cursor: pointer; }
.nav-scenic li:hover { background-color: #33cc66; color: #fff; }
.nav-scenic .active { background-color: #33cc66; color: #fff; }

/*散客拼团*/
.mod-hot-blue { background-color: #3cfff9; }
.mod-diy-box-red { padding-top: 30px; background-color: #ff6666; height: 600px; }
.mod-diy-box-blue { padding-top: 30px; background-color: #3366cc; height: 600px; }
.mod-diy-box .mod-diy-box-header { width: 1200px; height: 40px; background-color: #fff; }
.mod-diy-box .mod-diy-box-header h3 { padding-left: 20px; line-height: 40px; color: #f60; }
.mod-diy-box .mod-diy-box-header a { padding-right: 20px; line-height: 40px; }
.mod-diy-box-list { margin-top: 20px; }
.mod-diy-box-item-border { padding: 5px; border: 10px solid #3366cc; }
.mod-diy-box-list .product .product-item { height: 230px; }
.mod-diy-box-item-image { padding-top: 20px; padding-left: 20px; background: url(../image/1.jpg) scroll no-repeat center center; width: 560px; height: 200px; }
.mod-diy-box-item-text { padding-top: 20px; width: 150px; height: 80px; background-color: rgba( 255,255,255,.6); text-align: center;}
.mod-diy-box-item-text h3 {	font-size: 18px; font-weight: bold; }
.mod-diy-box-item-text p { padding-top: 6px; font-size: 14px; }
.product-item-285 { width: 285px; }
.product-item-285 img { width: 285px; height: 175px; }
.mod-diy-box-list .product .product-item:nth-child(3) { margin-right: 0; }
.mod-diy-box-list .product .product-item:last-child { margin-right: 0; }

/*包车旅游*/
.car-main-left { float: left; width: 980px; margin-right: 20px; }
.car-main-right { float: right; width: 200px; }
.car-nav { margin-top: 20px; height: 180px; font-size: 14px; border: 1px solid #ddd; }
.car-nav-item { padding-left: 20px; height: 45px; border-bottom: 1px dashed #ddd; }
.clear-border { border: none; }
.car-nav :last-child { border: none; }
.car-nav-list li{ float: left; margin-top: 10px; margin-right: 10px; padding-left: 6px; padding-right: 6px; height: 25px; line-height: 25px; cursor: pointer; }
.car-nav-list .active { background-color: #f60; color: #fff; }
.car-type { margin-top: 20px; width: 100%; }
.car-box { height: 300px; margin-bottom: 20px; }
.car-box-header { height: 40px; line-height: 40px; border-bottom: 2px solid #f60; }
.car-box-header h3 { height: 40px; color: #f60; font-weight: bold; line-height: 40px; }
.car-box-header a { height: 40px; line-height: 40px; }
.car-box-content { margin-top: 20px; }
.car-box-info { float: left; margin-right: 22px; width: 312px; height: 240px; border: 1px solid #ddd; overflow: hidden; }
.car-box-info:last-child { margin-right: 0; }
.car-box-info img { width: 100%; height: 180px; cursor: pointer; }
.car-box-info-money { padding-left: 20px; padding-right: 20px; height: 30px; line-height: 30px; font-size: 14px; }
.car-box-info-money.car-box-info-money em { font-size: 16px; color: #f60; }
.car-box-info-about { height: 30px; line-height: 30px; }
.car-box-info-about ul { padding-left: 20px; padding-right: 20px; }
.car-box-info-about li { float: left; width: 67px; }
.car-recommend-header { margin-bottom: 20px; padding-left: 20px; padding-right: 20px; height: 40px; line-height: 40px; background-color: #f60; }
.car-recommend-header h3 { height: 40px; line-height: 40px; color: #fff; }
.car-recommend-header a:hover { color: #fff; }
.car-recommend-box li:nth-child(4){ margin-right: 0; }
.car-recommend-box li:last-child{ margin-right: 0; }

.aside-box-image { width: 200px; height: 180px; overflow: hidden; }
.aside-box-image img { width: 100%; height: 100%; }
.aside-box-hotel { margin: 20px 15px;  }
.aside-box-hotel li { margin-bottom: 10px;}
.aside-box-hotel li:last-child { margin-bottom: 0;}
.aside-hotel-item { width: 170px; overflow: hidden; cursor: pointer; }
.aside-hotel-item img { width: 100%; height: 80px; border: 1px solid #ddd; }
.aside-hotel-item p { height: 20px; line-height: 20px; color: #333; }
.aside-hotel-item em { color: #f60; }

/*景点广告*/
.fold_wrap{width:1000px;overflow:hidden;margin:0 auto;}
.fold_wrap ul{width:1000px;height:260px;margin:0 auto;overflow:hidden;}
.fold_wrap ul li{float:left;width:130px;height:260px;position:relative;overflow:hidden;cursor:pointer;}
.fold_wrap ul li .mask_b{position:absolute;overflow:hidden;width:100%;height:100%;left:0;top:0;background:rgba(0,0,0,.3);_background:#B2B2B2;}
.fold_wrap ul li.active .mask_b{background:none;}
.fold_wrap ul li .mask_b h4{color:#fff;width:30px;margin:0 auto;display:block;font:30px/30px Microsoft Yahei;position:relative;padding:30px 0 0 0;}
.fold_wrap ul li.big{width:322px;}
.foldimgap ul li .adv_intro{ width:92%; height:40px; padding:5px 4%; position:absolute;left:0; bottom:-50px;background:#37D; color:#FFF; overflow:hidden;}
.adv_intro_show{bottom:0 !important; transition:bottom 0.3s linear 0.3s; -webkit-transition:bottom 0.3s linear 0.3s;}

.pic_auto{width:100%; height:100%;}
.pic_auto1{background:url(../image/scenic/漓江.jpg) no-repeat center 0; background-size: cover; }
.pic_auto2{background:url(../image/scenic/独秀峰.jpg) no-repeat center 0; background-size: cover; }
.pic_auto3{background:url(../image/scenic/芦笛岩.jpg) no-repeat center 0; background-size: cover; }
.pic_auto4{background:url(../image/scenic/夜游两江四湖.jpg) no-repeat center 0; background-size: cover; }
.pic_auto5{background:url(../image/scenic/王城景区.jpg) no-repeat center 0; background-size: cover; }
.pic_auto6{background:url(../image/scenic/象鼻山.jpg) no-repeat center 0; background-size: cover; }
.pic_auto7{background:url(../image/scenic/印象刘三姐.jpg) no-repeat center 0; background-size: cover; }
.pic_auto8{background:url(../image/scenic/十里画廊.jpg) no-repeat center 0; background-size: cover; }
.pic_auto9{background:url(../image/scenic/福利古镇.jpg) no-repeat center 0; background-size: cover; }
.pic_auto10{background:url(../image/scenic/遇龙河竹筏漂流.jpg) no-repeat center 0; background-size: cover; }
.pic_auto11{background:url(../image/scenic/高田风光.jpg) no-repeat center 0; background-size: cover; }
.pic_auto12{background:url(../image/scenic/月亮山.jpg) no-repeat center 0; background-size: cover; }
.pic_auto13{background:url('../image/scenic/龙脊梯田(平安).jpg') no-repeat center 0; background-size: cover; }
.pic_auto14{background:url('../image/scenic/龙脊梯田(金坑).jpg') no-repeat center 0; background-size: cover; }
.pic_auto15{background:url(../image/scenic/黄洛瑶寨.jpg) no-repeat center 0; background-size: cover; }
.pic_auto16{background:url(../image/scenic/龙胜温泉.jpg) no-repeat center 0; background-size: cover; }
.pic_auto17{background:url(../image/scenic/八角寨.jpg) no-repeat center 0; background-size: cover; }
.pic_auto18{background:url(../image/scenic/天门山.jpg) no-repeat center 0; background-size: cover; }
.pic_auto19{background:url(../image/scenic/五排河漂流.jpg) no-repeat center 0; background-size: cover; }
.pic_auto20{background:url(../image/scenic/猫儿山.jpg) no-repeat center 0; background-size: cover; }
.pic_auto21{background:url(../image/scenic/乐满地主题乐园.jpg) no-repeat center 0; background-size: cover; }
.pic_auto22{background:url(../image/scenic/灵渠.jpg) no-repeat center 0; background-size: cover; }
.pic_auto23{background:url(../image/scenic/秦城水街.jpg) no-repeat center 0; background-size: cover; }
.pic_auto24{background:url(../image/scenic/丹霞温泉.jpg) no-repeat center 0; background-size: cover; }
